#app {
    max-width: 900px;
    margin: 0 auto;
}

summary {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--accent);
    cursor: pointer;
}

.mails-container {
    margin-bottom: 2rem;
}

.hide-res {
    display: none;
}

#search-container {
    margin-bottom: 10px;
    width: 900px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #search {
        width: 600px;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: var(--background);
        color: var(--text-color);
    }

    #search-clear {
        padding: 0.5rem 1rem;
        background-color: var(--back);
        color: red;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid red;

        &:hover {
            background-color: red;
            color: var(--txt);
        }
    }
}

#mail-notification {
    position: absolute;
    top: 70px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #222;
    max-width: 300px;

    ul {
        list-style: none;
    }

    li {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

}

#software-notification {
    position: fixed;
    bottom: 60px;
    left: 10px;

    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8b0bec;
    background-color: #222;
    color: var(--txt);

    .up {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

#controls {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

#toggle-software-notification {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #444;
        border-radius: 10px;
    }
}

#sorting-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 5px;

    select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--background);
        color: var(--text-color);
    }
}

#toggle-subjects {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 5px;

    &:hover {
        background-color: #444;
        border-radius: 10px;
    }
}

#manage-subjects {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1000;
    padding: 15px;
    background-color: var(--background);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;

    input {
        padding: 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--background);
        color: var(--text-color);
        width: calc(100% - 60px);
    }

    button {
        background: none;
        border: 1px solid red;
        cursor: pointer;
        color: var(--text-color);
        padding: 0.5rem;
        border-radius: 4px;

        &:hover {
            background-color: #444;
        }
    }

    #manage-subjects-list {
        margin-top: .5rem;
        max-height: 300px;
        overflow-y: auto;

        .subject-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #333;

            .remove {
                background: none;
                border: none;
                color: red;
                cursor: pointer;
                font-size: 1.2rem;

                &:hover {
                    background: none;
                }
            }
        }
    }
}